.list-view .list-cell:odd {
    -fx-background-color: #dcf6f8;
}

.list-view .list-cell:even {
    -fx-background-color: #dcf6f8;
}

 .list-cell:filled:selected:focused .list-cell:filled:selected  {
    -fx-background-color: #dcf6f8;
}


